* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  height: 99.99vh;
  display: flex;
  /* border: 1px solid red; */
}

.navbarContainer {
  flex: 20%;
  /* border: 1px solid red; */
}

.content {
  flex: 80%;
  /* border: 1px solid red; */
  background-color: #ededed;
}
.modals {
  position: fixed;
  top: 0px;
  height: 99.93%;
  width: 100%;
  background: rgba(0, 0, 0, 0.81);
  /* border: 1px solid red; */
}
