* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 55%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
  background-color: white;
  border-radius: 10px;
  border: 0.1px solid white;
}
.qContainer {
  /* border: 1px solid red; */
  width: 80%;
  height: 10%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  font-size: 1.2rem;
}
.qno {
  flex: 75%;
  display: flex;
}
.qBanner {
  height: 100%;
  width: 8vh;
  border-radius: 50%;
  background-color: #fff;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
  text-align: center;
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 15px;
  margin-right: 15px;
}
.caption {
  color: #9f9f9f;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.questionIn {
  /* border: 1px solid red; */
  height: 7%;
  width: 80%;
  margin: auto;
  margin-top: 3%;
}
.questionIn input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15px;
}
.optionType {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.types {
  display: flex;
  flex: 80%;
  justify-content: space-around;
}
.types label {
  color: #9f9f9f;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.types input {
  cursor: pointer;
  accent-color: #353434;
}
.optionsContainer {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  height: 40%;
  margin: auto;
  margin-top: 3%;
}
.left {
  flex: 60%;
}
.values {
  /* border: 1px solid red; */
  height: 15%;
  margin-bottom: 20px;
}
.mvalues {
  height: 15%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.values input[type="radio"] {
  accent-color: #60b84b;
  font-family: Poppins;
  border: none;
  cursor: pointer;
}
.option {
  width: 60%;
  height: 100%;
  margin-left: 20px;
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
}

.right {
  flex: 40%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.right button {
  border: none;
  width: 25%;
  height: 15%;
  margin-right: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  color: #9f9f9f;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.right div {
  /* border: 1px solid red; */
  width: 25%;
  height: 15%;
  margin-right: 20px;
  border-radius: 10px;
  background: #fff;
  /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15); */
  color: #9f9f9f;
  text-align: center;
  font-family: Poppins;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.action {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  margin-top: 7%;
  height: 8%;
  display: flex;
  justify-content: space-between;
}
.action button {
  width: 40%;
  border-radius: 10px;
  border: none;
  /* color: #474444; */
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
